@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --theme-primary: #4f8a8b;
  --theme-accent: #a3c4bc;
  --theme-background: #ffffff;
  --theme-text: #1a1a1a;
}

/* Instructions Button */
.instructions-button .text-container .show-text {
  display: none;
}
.instructions-button .text-container {
  font-size: 22px;
}

/* Instructions Button Hover */
.instructions-button:hover {
  width: fit-content;
}
.instructions-button:hover .text-container .show-text {
  display: block;
}

@media only screen and (max-width: 950px) {
  .mpb-container {
    flex-direction: column;
  }
  .mpb-container .left-column, .mpb-container .right-column {
    width: 100%;
  }
  .mpb-container .left-column {
    height: 400px;
  }
}